<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">
<head>
<title>MSTQ</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="row"  style="margin-top:-40px;">
			<ol class="breadcrumb">
			  <li><a href="#" th:href="@{/}">Home</a></li>
			  <li class="active">ทดสอบผลิตภัณฑ์</li>
			</ol>
		</div>
	

		<hr style="margin-top:-10px;"/>
		
		<div id="searchView" class="row">
		</div>
			
		<div class="row" id="tableResultView">
		</div>
		
		<div class="row" id="formView">
		</div>		
		
		
	</div>
	
	<div layout:fragment="pageScript">
	
<script type="text/javascript" src="../../static/pagejs/testingService.js"
			th:src="@{/static/pagejs/testingService.js}"></script>
										
<script  id="searchViewTemplate" type="text/x-handlebars-template">
<div class="panel panel-primary">
<div class="panel-heading">
 	<h4 class="panel-title">ค้นหาข้อมูลการส่งทดสอบผลิตภัณฑ์</h4>
</div>
<div class="panel-body">
	<form class="form-horizontal" role="form" id="searchForm">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
				    <label for="inputEmail3" class="col-md-4 control-label">ประเภทเครือข่าย</label>
				    <div class="col-md-8">
				      <select class="form-control formSlt" id="networkTypeSlt" data-field="networkType">
							<option value="0">กรุณาเลือก</option>
							{{#each this.networkTypes}}
								<option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{description}}</option>
							{{/each}}
						</select>	
				    </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
			    	<label for="inputEmail3" class="col-md-4 control-label">ประเภทหน่วยงาน</label>
			    	<div class="col-md-8">
			      		 <select class="form-control formSlt" id="orgTypeSlt"  data-field="orgType">
							<option value="0">กรุณาเลือก</option>
							{{#each this.orgTypes}}
								<option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>{{description}}</option>
							{{/each}}
						</select>	
			    	</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">ชื่อหน่วยงาน</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control formTxt" id="orgNameTxt" 
							placeholder="ระบุชื่อหน่วยงานที่ต้องการค้นหา..." data-field="orgName" value="{{searchModel.orgName}}"/>
				    </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
					<button type="button" class="btn btn-default" id="newFormBtn">
						<i class="fa fa-plus"></i> ส่งผลิตภัณฑ์ทดสอบใหม่</button>
					<button type="button" class="btn btn-default" id="searchBtn">
						<span class="glyphicon glyphicon-search"></span> ค้นหา</button>
					<button type="button" class="btn btn-default" id="clearFormBtn">
						<i class="fa fa-times-circle"></i> ล้างข้อมูลค้นหา</button>
				</div>
			</div>
		</form>
	</div>
</div>

</script>

<script id="showFormViewTemplate" type="text/x-handlebars-template">
<div class="col-md-12">
	<form class="form-horizontal" role="form">
	<div class="panel panel-default">
		<div class="panel-heading">
			<b><i class="fa fa-pencil-square-o"></i> คำร้องขอใบเสนอราคาทดสอบผลิตภัณฑ์</b>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12 mainService">
					<h2>คำร้องเลขที่ {{model.id}}</h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 mainService">
					<h2>ข้อมูลเพื่อการติดต่อกลับ</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "customerName" "ชื่อผู้ขอใบเสนอราคา:" 2 10 "static"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "companyName" "บริํษัท/หน่วยงาน:" 2 10 "static"}}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					{{txtInput model "address1" "ที่อยู่:" 2 10 "static"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "address2" "" 2 10 "static"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{txtInput model "phone" "เบอร์โทรศัพท์:" 4 8 "static"}}
				</div>
				<div class="col-md-6">
					{{txtInput model "fax" "เบอร์โทรสาร:" 4 8 "static"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "email" "email:" 2 10 "static"}}
				</div>
			</div>


			<div class="row">
				<div class="col-md-12 mainService">
					<h2>รายละเอียดผลิตภัณฑ์ที่ต้องการทดสอบ</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "sampleDesc" "ลักษณะตัวอย่างที่จะส่งทดสอบ:" 2 10 "static"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
    					<label for="hasSentBefore" class="col-sm-2 control-label">เคยส่งมาทดสอบ:</label>
    					<div class="col-sm-10 form-inline">
      						<label class="radio-inline">
								{{#if model.hasSentBefore}}
  									<input type="radio" class="formRdo" data-field="hasSentBefore" name="hasSentBeforeRdo" value="0" disabled> ไม่เคย
								{{else}}
									<input type="radio" class="formRdo" data-field="hasSentBefore" name="hasSentBeforeRdo" checked="checked" value="0" disabled> ไม่เคย
								{{/if}}
							</label>
							<label class="radio-inline">
								{{#unless model.hasSentBefore}}
  									<input type="radio" class="formRdo" data-field="hasSentBefore" name="hasSentBeforeRdo" value="1" disabled> เคย หมายเลขปฎิบัติการหรือใบเสนอราคาที่อ้างอิง
								{{else}}
									<input type="radio" class="formRdo" data-field="hasSentBefore" name="hasSentBeforeRdo" checked="checked" value="1" disabled> เคย หมายเลขปฎิบัติการหรือใบเสนอราคาที่อ้างอิง
								{{/unless}}
							</label>
						
								<p id="referenceTxt" data-field="reference" class="form-control-static">{{model.reference}}</p>

				    	</div>
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mainService">
					<h2>รายละเอียดการทดสอบหรือวิธีการที่ต้องการทดสอบ</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "testMethod" "รายละเอียดการทดสอบ:" 2 10 "static"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "remarks" "รายละเอียดอื่นๆ:" 2 10 "static"}}
				</div>
			</div>
		</div>
		<div class="panel-footer">
			ท่านจะได้รับการติดต่อกลับภายใน 3 วันทำการ ทั้งนี้หากต้องการประสานกับเจ้าหน้าที่ กรุณาโทรศัพท์สอบถามได้ที่ CALL CENTER 0-2201-7000 <br/>โดยระบุหมายลขคำร้องขอใบเสนอราคาเลขที่ {{model.id}}
		</div>
	</div>
</div>
</script>


<script id="newFormViewTemplate" type="text/x-handlebars-template">
<div class="col-md-12">
	<form class="form-horizontal" role="form">
	<div class="panel panel-default">
		<div class="panel-heading">
			<b><i class="fa fa-pencil-square-o"></i> ขอใบเสนอราคาทดสอบผลิตภัณฑ์</b>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12 mainService">
					<h2>ขั้นตอนแรก: ข้อมูลเพื่อการติดต่อกลับ</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "customerName" "ชื่อผู้ขอใบเสนอราคา:" 2 10 "readwrite"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "companyName" "บริํษัท/หน่วยงาน:" 2 10 "readwrite"}}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					{{txtInput model "address1" "ที่อยู่:" 2 10 "readwrite"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "address2" "" 2 10 "readwrite"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{txtInput model "telephone" "เบอร์โทรศัพท์:" 4 8 "readwrite"}}
				</div>
				<div class="col-md-6">
					{{txtInput model "fax" "เบอร์โทรสาร:" 4 8 "readwrite"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "email" "email:" 2 10 "readwrite"}}
				</div>
			</div>


			<div class="row">
				<div class="col-md-12 mainService">
					<h2>ขั้นตอนที่สอง: รายละเอียดผลิตภัณฑ์ที่ต้องการทดสอบ</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtInput model "sampleDesc" "ลักษณะตัวอย่างที่จะส่งทดสอบ:" 2 10 "readwrite"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
    					<label for="hasSentBefore" class="col-sm-2 control-label">เคยส่งมาทดสอบ:</label>
    					<div class="col-sm-10 form-inline">
      						<label class="radio-inline">
  								<input type="radio" class="formRdo" data-field="hasSentBefore" name="hasSentBeforeRdo" value="0"> ไม่เคย
							</label>
							<label class="radio-inline">
  								<input type="radio" class="formRdo" data-field="hasSentBefore" name="hasSentBeforeRdo" value="1"> เคย โปรดระบุหมายเลขปฎิบัติการหรือใบเสนอราคาที่อ้างอิง
							</label>
						
								<input type="text" id="referenceTxt" data-field="reference" class="form-control formTxt"></input>

						
				    	</div>
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mainService">
					<h2>ขั้นตอนที่สาม: รายละเอียดการทดสอบหรือวิธีการที่ต้องการทดสอบ</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtAreaInput model "testMethod" "รายละเอียดการทดสอบ:" 2 10 "readwrite"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{txtAreaInput model "remarks" "รายละเอียดอื่นๆ:" 2 10 "readwrite"}}
				</div>
			</div>

			<div class="row">
					<div class="col-md-12 mainService">
						<h2>ขั้นตอนที่สี่: ระบุสถานที่ส่งตัวอย่างที่ต้องการ</h2>
					</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
    					<label for="hasSentBefore" class="col-sm-2 control-label">เลือกสถานที่:</label>
    					<div class="col-sm-10">
	      						<label class="radio-inline">
  									<input type="radio" class="formRdo" data-field="location" name="location" value="0"> กรมวิทยาศาสตร์บริการ (วศ.) ถ.พระรามที่ 6 กรุงเทพมหานคร
								</label><br/>
								<label class="radio-inline">
  									<input type="radio" class="formRdo" data-field="location" name="location" value="1"> สถาบันวิจัยวิทยาศาสตร์และเทคโนโลยีแห่งประเทศ ไทย (วว.) ที่เทคโนธานี จ.ปุทมธานี
								</label><br/>
								<label class="radio-inline">
  									<input type="radio" class="formRdo" data-field="location" name="location" value="1"> สถาบันวิจัยวิทยาศาสตร์และเทคโนโลยีแห่งประเทศ ไทย (วว.) ที่บางเขน จ. กรุงเทพมหานคร   
								</label><br/>
								<label class="radio-inline">
  								<input type="radio" class="formRdo" data-field="location" name="location" value="1"> สถาบันวิจัยวิทยาศาสตร์และเทคโนโลยีแห่งประเทศ ไทย (วว.) ที่นิคมอุตสาหกรรมบางปู จ. สมุทรปราการ 
								</label><br/>
								<label class="radio-inline">
  									<input type="radio" class="formRdo" data-field="location" name="location" value="1"> กรุณาเลือกสถานที่ให้ 
								</label><br/>
				    	</div>
					</div>					
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button id="saveFormBtn" type="button" class="btn btn-default"><i class="fa fa-floppy-o"></i> ส่งคำร้องใบเสนอราคา</button>
			<button id="clearFormBtn" type="button" class="btn btn-default"><i class="fa fa-times-circle"></i> ล้างข้อมูล</button>
		</div>
	</div>
</div>
</script>


<script type="text/javascript" th:inline="javascript">

var e1;
//<!--
$( document ).ready(function() {
	
	//initialize things
		
		searchView = new SearchView({
			el: "#searchView"
		});
		
		tableResultView = new TableResultView({
			el: "#tableResultView"
		});
		
		formView = new FormView({
			el: "#formView"
		})
		
		
		
		appRouter = new AppRouter({
			searchView: searchView,
			tableResultView: tableResultView,
			formView: formView
		});
		Backbone.history.start();

});
	
	
</script>
			
	</div>
</body>
</html>